<app-navbar></app-navbar>

<div>
    <div class="about-us">
        <h1>ABOUT US</h1>
    </div>
    <div class="container-fluid py-5">
        <p class="text-center">
            <img src="/assets/images/images.png" width="4%" class="img-fluid drumstick" alt="">
        </p>
        <h1 class="text-center py-3">About us</h1>
        <div class="row text-left my-5 mx-auto px-4 py-4">
            <div class="col-lg-6 col-md-6 col-sm-6 pt-5 ">
                <p>
                    In vitae nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Stpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 pt-5 ">
                <p>
                    Nisi aliquam, scelerisque leo a, volutpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Stpat sem. Vivamus rutrum dui fermentum eros hendrerit, id lobortis leo volutpat. Maecenas sollicitudin est in libero pretium.
                </p>
            </div>
        </div>
    </div>
    <div id="chefs-area" class="container-fluid scroll-modal py-3">
        <p class="text-center my-3">
            <img src="/assets/images/cupcake.png" width="4%" class="img-fluid drumstick" alt="">
        </p>
        <div class="container">
            <div class="row py-3 my-2">
                <div class="col-lg-4 col-md-4 col-sm-12 pt-1">
                    <hr>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pt-1 text-center">
                    <span class=" py-3 ">Our chefs</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 pt-1">
                    <hr>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row py-3 my-2">
                <div class="col-lg-4 col-md-6 col-sm-6 pt-1">
                    <div class=" mb-4 py-3">
                        <div class="card-block px-5 py-1">
                            <img src="/assets/images/chef-3.jpg" class="img-fluid" alt="">
                            <h5 class="card-title py-3 text-center">Chef Ted Chapman</h5>
                            <p class="card-text py-3 text-center">
                                Integer sed facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 pt-1">
                    <div class=" mb-4 py-3">
                        <div class="card-block px-5 py-1">

                            <img src="/assets/images/chef-2.jpg" class="img-fluid" alt="">
                            <h5 class="card-title py-3 text-center">Chef Maria Smith</h5>
                            <p class="card-text py-3 text-center">
                                Integer sed facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 pt-1">
                    <div class="s mb-4 py-3">
                        <div class="card-block px-5 py-1">
                            <img src="/assets/images/chef-1.jpg" class="img-fluid" alt="">
                            <h5 class="card-title py-3 text-center">Chef James Williams</h5>
                            <p class="card-text py-3 text-center">
                                Integer sed facilisis eros. In iaculis rhoncus velit in malesuada. In hac habitasse platea dictumst. Fusce erat ex, consectetur sit amet.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container-fluid py-5">
        <div class="row text-center py-4">
            <div class="fv-row mb-7 mt-2 col-lg-3 col-md-4 col-sm-12">
                <img src="/assets/images/2.jpg.webp" class="img-fluid works-img" alt="">
            </div>
            <div class="fv-row mb-7 mt-2 col-lg-3 col-md-4 col-sm-12">
                <img src="/assets/images/3.jpg.webp" class="img-fluid works-img" alt="">
            </div>
            <div class="fv-row mb-7 mt-2 col-lg-3 col-md-4 col-sm-12">
                <img src="/assets/images/b1.webp" class="img-fluid works-img" alt="">
            </div>
            <div class="fv-row mb-7 mt-2 col-lg-3 col-md-4 col-sm-12">
                <img src="/assets/images/4.jpg.webp" class="img-fluid works-img" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3964.6316532771757!2d3.5103206137577727!3d6.441324095339825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf688fa295555%3A0x6dee73bd773030f7!2sShoprite!5e0!3m2!1sen!2sng!4v1680032382151!5m2!1sen!2sng"
            width="600" height="450" style="border:0;" class=" fv-row mb-7 col-lg-12 col-md-12 col-sm-12" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="about-us">
        <div class="modal-body px-4 py-3 my-5 mx-auto">
            <div class="container mx-auto text-center px-5 py-5 form-container bg-light">
                <p class="text-center">
                    <img src="/assets/images/drumstick2.jpg" width="4%" class="img-fluid drumstick" alt="">
                </p>
                <h4 class="py-3">Contact Us</h4>
                <div class="modal-body py-3">
                    <form class="form w-100 py-3 " [formGroup]="formGroup" novalidate="novalidate" id="form">
                        <div>
                            <div class="row">
                                <div class="fv-row mb-7 my-4 col-lg-6 col-md-6 col-sm-12">
                                    <input type="text" class="form-control form-control-lg form-control-solid" name="Name" placeholder="Name" formControlName="Name" [ngClass]="{
                                            'is-invalid': formGroup.controls['Name'].invalid,
                                            'is-valid': formGroup.controls['Name'].valid
                                        }" />
                                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                            validation: 'required',
                                            message: ' Name is required',
                                            control: formGroup.controls['Name']
                                          }"></ng-container>
                                </div>
                                <div class="fv-row mb-7 my-4 col-lg-6 col-md-6 col-sm-12">
                                    <input type="text" class="form-control form-control-lg form-control-solid" name="Email" placeholder="Email" formControlName="Email" [ngClass]="{
                                            'is-invalid': formGroup.controls['Email'].invalid,
                                            'is-valid': formGroup.controls['Email'].valid
                                        }" />
                                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                            validation: 'required',
                                            message: ' Email is required',
                                            control: formGroup.controls['Email']
                                          }"></ng-container>
                                </div>

                                <div class="fv-row mb-7 my-4 col-lg-12 col-md-12 col-sm-12">
                                    <textarea type="text" class="form-control form-control-lg form-control-solid" name="message" placeholder="Message" formControlName="message" [ngClass]="{
                                            'is-invalid': formGroup.controls['message'].invalid,
                                            'is-valid': formGroup.controls['message'].valid
                                        }">
                                        </textarea>
                                    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                                            validation: 'required',
                                            message: ' message is required',
                                            control: formGroup.controls['message']
                                          }"></ng-container>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn px-5 btn-lg btn-warning ml-5" (click)="onSubmit()" [disabled]="!formGroup.valid">
                    <span class="indicator-label ml-5">Submit</span>
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="fv-plugins-message-container">
            <div class="fv-help-block">
                <span role="alert">
                    {{ message }}
                </span>
            </div>
        </div>
    </ng-container>
</ng-template>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#FFD700" [fullScreen]="true">

</ngx-spinner>