<app-navbar>
</app-navbar>

<div id="homepage-container" class=" mt-5 ">
    <ul class="fireflies container-fluid">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>

    </ul>
    <div id="bvbn">
        <h1 class="display-2">
            Fumiz Corner
        </h1>
        <p id="para">
            Where your taste buds dance
        </p>
    </div>
</div>