<app-navbar>
</app-navbar>

<div class="container-fluid scroll-modal mt-5 py-3">
    <div class="modal-body mt-5">
        <h1 class="text-center my-3">Choose A Meal Category</h1>
        <div class="container">
            <div class="row ">
                <div class="col-lg-3 col-md-4 col-sm-12 my-3 " id="meal-category" *ngFor="let meal of mealCategories">


                    <a href="" class="text-decoration-none images-link " [routerLink]="['/meal-category/',meal.strCategory]">
                        <img src="{{meal.strCategoryThumb}}" alt="" class="img-fluid"> <br>
                        <p class="text-center font-weight-bold">{{meal.strCategory}}</p>
                    </a> &nbsp;
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#FFD700" [fullScreen]="true">

</ngx-spinner>